
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">

    <title>Document</title>
    <link rel="stylesheet" href="./main.css">
    <!-- <link rel="stylesheet" href="./reset.css"> -->
    <script src="./main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>
<body>
    <h3>iOS本地 api测试</h3>


    <div id="app">

    <a @click="connect" class="button">连接当前外设</a>

    <a @click="disconnect" class="button">断开当前外设</a>

    <a @click="setMTU(255)" class="button">设置写入mtu</a>

    <a @click="getBLEDeviceServices" class="button">获取服务</a>

    <!-- <a @click="sendData" class="button">发送数据</a> -->

    <input type="text" v-model="sendedData">

    <span class="loginResult">当前设备Id:{{deviceId}}</span>

    <ul class="list" v-if="services!=null">
        <li v-for="(service, index) in services" :key="index" @click="getBLEDeviceCharacteristics(service.uuid)">
            <span class="info">是否主服务:{{service.isPrimary}}</span>
            <span class="info">UUID:{{service.uuid}}</span>
            <div class="line"></div>
        </li>
    </ul>
    <div class="line"></div>
    <ul class="list" v-if="characteristics!=null">
        <li v-for="(characteristic, index) in characteristics" :key="index" @click="sendData(characteristic.uuid)">
            <span class="info">是否支持 read 操作:{{characteristic.properties.read}}</span>
            <span class="info">是否支持 write 操作:{{characteristic.properties.write}}</span>
            <span class="info">是否支持 notify 操作:{{characteristic.properties.notify}}</span>
            <span class="info">是否支持 indicate 操作:{{characteristic.properties.indicate}}</span>
            <span class="info">UUID:{{characteristic.uuid}}</span>
            <div class="line"></div>
        </li>
    </ul>

    </div>

    <script>


        let app = new Vue({
            el:"#app",
            data:{
                deviceId:null,
                sendedData:"",
                services:null,
                characteristics:null,
                selectedServiceId:null
            },
            mounted() {
                this.createCallback("onBLEConnectionStateChange")
                this.createCallback("onBLECharacteristicValueChange")
                this.createCallback("onGetCurrentPageQuery")
                this.createCallback("onBLEDeviceServices")
                this.createCallback("onBLEDeviceCharacteristics")
                this.createCallback("onBLECharacteristicValueChange")
                this.createCallback("onWriteValue")
                let params = {
                    callback:"onGetCurrentPageQuery"
                }
                window.__weappsNative.getCurrentPageQuery(JSON.stringify(params))
                params = {
                    callback:"onBLEConnectionStateChange"
                }
                window.__weappsNative.onBLEConnectionStateChange(JSON.stringify(params))
                params = {
                    callback:"onBLECharacteristicValueChange"
                }
                window.__weappsNative.onBLECharacteristicValueChange(JSON.stringify(params))
            },
            methods: {
                onGetCurrentPageQuery(err,res) {
                    this.deviceId = JSON.parse(res).deviceId
                },
                connect(){
                    let params = {
                        deviceId: this.deviceId,
                        timeout:10000
                    }
                    window.__weappsNative.createBLEConnection(JSON.stringify(params))
                },
                disconnect(){
                    let params = {
                        deviceId: this.deviceId
                    }
                    window.__weappsNative.closeBLEConnection(JSON.stringify(params))
                },
                setMTU(mtu){
                    let params = {
                        data:{
                            deviceId: this.deviceId,
                            mtu:mtu
                        }
                    }
                    window.__weappsNative.setBLEMTU(JSON.stringify(params))
                },
                getBLEDeviceServices(){
                    let params = {
                        data:{
                            deviceId: this.deviceId,
                        },
                        callback:"onBLEDeviceServices"
                    }
                    window.__weappsNative.getBLEDeviceServices(JSON.stringify(params))
                },
                getBLEDeviceCharacteristics(serviceId) {
                    this.selectedServiceId = serviceId
                    let params = {
                        data:{
                            deviceId: this.deviceId,
                            serviceId:serviceId
                        },
                        callback:"onBLEDeviceCharacteristics"
                    }
                    window.__weappsNative.getBLEDeviceCharacteristics(JSON.stringify(params))
                },
                sendData(characteristicId){
                    let params = {
                        callback:"onWriteValue",
                        data: {
                            deviceId:this.deviceId,
                            serviceId:this.selectedServiceId,
                            characteristicId:characteristicId,
                            value:this.sendedData
                        }
                    }
                    window.__weappsNative.writeBLECharacteristicValue(JSON.stringify(params))
                },
                getData(characteristicId){
                    let params = {
                        data: {
                            deviceId:this.deviceId,
                            serviceId:this.selectedServiceId,
                            characteristicId:characteristicId,
                        }
                    }
                    window.__weappsNative.readBLECharacteristicValue(JSON.stringify(params))
                },
                onBLEConnectionStateChange(err,res){
                    if (res) {
                        console.log(res)
                    }
                },
                onBLECharacteristicValueChange(err,res){
                    if(res){
                        console.log(res)
                    }
                },
                onWriteValue(err,res){
                    if(res){
                        console.log(res)
                    }
                },
                onBLEDeviceServices(err,res){
                    if(res){
                        this.services = JSON.parse(res).services
                    }
                },
                onBLEDeviceCharacteristics(err,res){
                    if(res){
                        this.characteristics = JSON.parse(res).characteristics
                        this.characteristics.forEach(characteristic => {
                            let params = {
                                data: {
                                    deviceId:this.deviceId,
                                    serviceId:this.selectedServiceId,
                                    characteristicId:characteristic.uuid,
                                    state:true
                                }
                            }
                            window.__weappsNative.notifyBLECharacteristicValueChange(JSON.stringify(params))
                        });
                    }
                },
                onBLECharacteristicValueChange(err,res){
                    if(res) {
                        console.log("***read result:"+ res)
                    }
                },
                createCallback(callback){
                    window[callback] = (err,res) =>{
                        this[callback](err,res)
                    }
                }
            },
        })

    </script>
    
    
</body>
</html>
