<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">

    <title>Document</title>
    <link rel="stylesheet" href="./main.css">
    <!-- <link rel="stylesheet" href="./reset.css"> -->
    <script src="./main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>
<body>
    <h3>iOS本地 api测试</h3>


    <div id="app">

    <a @click="openAdapter" class="button">开启主机模式</a>

    <a @click="closeAdapter" class="button">关闭主机模式</a>

    <a @click="startScan" class="button">开始扫描</a>

    <a @click="stopScan" class="button">停止扫码</a>

    <a @click="peripheralMode" class="button">转到从机模式</a>


    <span class="loginResult"></span>
        
    <ul class="list" v-if="devices!=null">
        <li v-for="(device, index) in devices" :key="index" @click="pushWithDeviceId(device.deviceId)">
            <span class="title">{{device.name}}</span>
            <span class="info">信号强度:{{device.RSSI}}</span>
            <span class="info">UUID:{{device.deviceId}}</span>
            <div class="line"></div>
        </li>
    </ul>

    </div>  

    <script>


        let app = new Vue({
            el:"#app",
            data:{
                devices:null
            },
            mounted() {
                let params = {
                    callback:"onDeviceFounded"
                }
                window.__weappsNative.onBluetoothDeviceFound(JSON.stringify(params))
                params = {
                    callback:"onAdapterStateChange"
                }
                window.__weappsNative.onBluetoothAdapterStateChange(JSON.stringify(params))
                this.createCallback("onDeviceFounded")
                this.createCallback("onAdapterStateChange")
            },
            methods: {
                openAdapter(){
                    window.__weappsNative.openBluetoothAdapter()
                },
                closeAdapter(){
                    window.__weappsNative.closeBluetoothAdapter()
                },
                startScan(){
                    let params = {
                        data:{
                            interval: 2,
                            allowDuplicatesKey: true
                        }
                    }
                    window.__weappsNative.startBluetoothDevicesDiscovery(JSON.stringify(params))
                },
                stopScan(){
                    window.__weappsNative.stopBluetoothDevicesDiscovery()
                },
                pushWithDeviceId(deviceId){
                    let url = "blueToothConnect.html?deviceId=" + deviceId
                    openWindow(url)
                },
                onAdapterStateChange(err,res){
                    if (res) {
                        console.log(res)
                    }
                },
                onDeviceFounded(err,res){
                    if(res){
                        this.devices = JSON.parse(res).devices
                    }
                },
                createCallback(callback){
                    window[callback] = (err,res) =>{
                        this[callback](err,res)
                    }
                },
                peripheralMode() {
                    let url = "blueToothPeripheral.html"
                    openWindow(url)
                }
            },
        })



    </script>
    
    
</body>
</html>
