
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">

    <title>Document</title>
    <link rel="stylesheet" href="./main.css">
    <script src="./main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <h3>iOS camera组件同层渲染测试</h3>

    <div id="app">

      <camera ref="camera" style="width: 100%; height: 300px;" device-position="back" flash="on" resolution="high" >
      </camera>

      
      <a @click="takePhoto" class="button">拍照</a>

      <a @click="startRecord" class="button">开始录像</a>

      <a @click="stopRecord" class="button">停止录像</a>


      <a @click="switchCameraPosition" class="button">切换摄像头</a>

      <a @click="zoomIn" class="button">zoomIn</a>

      <a @click="zoomOut" class="button">zoomOut</a>

      <img v-if="isShowImage" :src="tempImagePath" alt="" style="width: 100%; height: 300px;">

      <video v-if="isShowVideo" :src="tempVideoPath" :poster="poster" x-webkit-airplay="true" playsinline="true" webkit-playsinline="true" controls="controls"  style="width: 100%; height: 300px;"></video>

    </div>

    <template id="myCamera">
      <div style="overflow: scroll; ">
        <div style="width: 101%; height: 101%;"></div>
      </div>
    </template>
  <script>

    const component = Vue.extend({
      template: "#myCamera",
      props: {
        mode: {
          type: String,
          default: "normal"
        },
        resolution: {
          type: String,
          default: "medium"
        },
        devicePosition: {
          type: String,
          default: "back"
        },
        flash: {
          type: String,
          defaut:"auto"
        },
        frameSize: {
          type: String,
          default:"medium"
        }
      },
      data() {
        return {
          cameraId : "",
          position : this.devicePosition
        }
      },
      created() {
        console.log("created")
      },
      mounted() {
        console.log("mounted")
        var params = {
          position: this.$el.getBoundingClientRect(),
          mode: this.mode,
          resolution: this.resolution,
          devicePosition: this.devicePosition,
          flash: this.flash,
          frameSize: this.frameSize
        }
        setTimeout(() => {
          console.log(params)
          this.cameraId = createCameraContext(params);
        }, 100);
      },
      methods: {
        operateCameraContext (type, callback, params) {
          params.operationType = type;
          params.identifier = this.cameraId;
          params = {
              // callback: callback,
              data: params
          }
          if (callback) {
            params.callback = callback;
          }
          window.__weappsNative.operateCameraContext(JSON.stringify(params));
        },
        switchCameraPosition(devicePosition, callback) {
          let params = {
            devicePosition
          }
          this.operateCameraContext("setDevicePosition", callback,params);
        },
        setCameraZoom(zoom,callback) {
          let params = {
            zoom
          }
          this.operateCameraContext("setZoom", callback, params);
        },
        setCameraFlash(flash,callback){
          let params = {
            flash
          }
          this.operateCameraContext("setFlash", callback, params);
        },
        takePhotoWithQuality(quality, callback) {
          let params = {
            quality
          }
          this.operateCameraContext("takePhoto",callback, params)
        },
        startRecord(timeoutCallbackm, callback) {
          let params = {
            timeoutCallback: timeoutCallbackm
          }
          this.operateCameraContext("startRecord",callback, params)
        },
        stopRecord(compressed, callback) {
          let params = {
            compressed
          }
          this.operateCameraContext("stopRecord",callback, params)
        }
      },
    })

    Vue.component('camera', component)

    let app = new Vue({
      el: "#app",
      data: {
        cameraContext: null,
        isShowImage: false,
        isShowVideo: false,
        tempImagePath:"",
        tempVideoPath:"",
        poster:"",
        callbacks:[]
      },
      mounted() {

      },
      methods: {
        checkCameraContext() {
          if (this.cameraContext == null) {
            this.cameraContext = new CameraContext(this.$refs.camera.cameraId);
          }
        },
        doCallback(callbackName, err, res){
          if (err != "null") {
            console.log(err);
            return
          }
          res = JSON.parse(res)
          if (callbackName == 'takePhtoCallback') {
            this.isShowImage = true;
            this.tempImagePath = "file://" + res.tempImagePath;
          } else if (callbackName == 'stopRecordCallBack') {
            this.isShowVideo = true;
            this.tempVideoPath = "file://" + res.tempVideoPath;
            this.poster = "file://" + res.tempThumbPath;
            console.log(this.tempVideoPath)
          }
        },
        createCallBack(callbackName){
          this.callbacks.push(callbackName)
          window[callbackName] = (err,res) =>{
            this.doCallback(callbackName, err, res);
          }
        },
        getCamera() {
          return this.$refs.camera;
        },
        switchCameraPosition() {
          let camera = this.getCamera();
          let position = camera.position;
          position = position == 'front' ? 'back' : 'front'
          camera.switchCameraPosition(position)
          camera.position = position;
        },
        zoomIn() {
          let camera = this.getCamera();
          camera.setCameraZoom(10)
        },
        zoomOut() {
          let camera = this.getCamera();
          camera.setCameraZoom(1)
        },
        takePhoto() {
          let camera = this.getCamera();
          this.createCallBack("takePhtoCallback")
          camera.takePhotoWithQuality("high","takePhtoCallback")
        },
        startRecord() {
          let camera = this.getCamera();
          camera.startRecord();
        },
        stopRecord() {
          let camera = this.getCamera();
          this.createCallBack("stopRecordCallBack")
          camera.stopRecord(false, "stopRecordCallBack")
        }

      },
      destroyed() {
        this.callbacks.forEach(element => {
          delete window[element]
        });
      },
    })


  function CameraContext(cameraId) {
      this.identifier = cameraId //相机id，由createCameraContext创建返回
      //type为setZoom |setFlash| setDevicePosition | startRecord | stopRecord | takePhoto | startListening | stopListening，具体参数参考小程序
      //https://developers.weixin.qq.com/miniprogram/dev/api/media/camera/CameraContext.html
      this.operateCameraContext = function(type, callback, params) {
          params.operationType = type;
          params.identifier = this.identifier;
          params = {
              callback: callback,
              data: params
          }
          window.__weappsNative.operateCameraContext(JSON.stringify(params));
      }
      //创建CameraFrameListener并设置onCameraFrame回调
      this.onCameraFrame = (callback, startCallback, stopCallback)=> {
          var params = {
              identifier: this.identifier
          }
          var onCameraFrameParams = {
              callback: callback,
              data: params
          }
          window.__weappsNative.onCameraFrame(JSON.stringify(params));
          return {
              //开始监听 对应CameraFrameListener.start
              start: ()=> {
                  this.operateCameraContext(startListening, startCallback, params)
              },
              //停止监听 CameraFrameListener.stop
              stop: ()=> {
                  this.operateCameraContext(stopListening, stopCallback, params)
              }
          };
      }
  }

  // var params = {
  //       mode:'normal',  //应用模式，只在初始化时有效，不能动态变更
  //       resolution:'medium',  //分辨率，不支持动态修改
  //       devicePosition: 'back', //摄像头朝向
  //       flash: 'auto',      //闪光灯
  //       frameSize: 'medium',       //指定期望的相机帧数据尺寸
  //       bindstop: '',      //回调，摄像头在非正常终止时触发，如退出后台等情况
  //       binderror: '',     //回调，用户不允许使用摄像头时触发
  //       bindinitdone: '',  //回调，相机初始化完成时触发，e.detail = {maxZoom}
  //       bindscancode: '',  //回到，在扫码识别成功时触发，仅在 mode="scanCode" 时生效
  //       posistion: {
  //           top: 30,  //camera标签距离Window顶部距离
  //           left: 30,  //camera标签距离Window左边距离
  //           height: 300, //camera标签高度
  //           width: 300,  //camera标签宽度
  //           scrollHeight: 400 //camera标签可滚动高度，一般有子标签高度决定，非必传
  //       }
  //   }

  function createCameraContext(params) {
    
    var cameraId = window.__weappsNative.createCameraContext(JSON.stringify(params));
    return cameraId;
  }

  </script>
</body>
</html>


<!-- 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">

    <title>Document</title>
    <link rel="stylesheet" href="./main.css">
    <script src="./main.js"></script>
</head>
<body>
    <h3>iOS本地 api测试</h3>

    <div class="container">
      <div class="camera">
      
      </div>
    </div>

    <img src="" alt="" class="icon" id="img">

  
</body>
</html> -->
